<div class="container">


      <div class="col-lg-6 col-sm-6 visual" 
           ng-class="{'col-sm-pull-6': $odd, 'col-lg-offset-1': $even}">
       
        <div>
        <h3> Contact Us </h3>
        <ul class="list-unstyled"> 
          <li><span class="glyphicon glyphicon-envelope"></span> 
            <a href="mailto:zekiinal@gmail.com">zekiinal@gmail.com</a>
          </li>
          <li><span class="glyphicon glyphicon-phone"></span> 00000000
          </li>
          <li><span class="glyphicon glyphicon-phone-alt"></span> 0236
          </li>
          <li><span class="glyphicon glyphicon-home"></span> Akhisar/Manisa
          </li>
        </ul>
        
         
         
        </div>     
             
        <div>
          <div id="map" style="width: 450px; height: 350px;" ng-init="placeMap()"></div>
        </div>
      </div>
</div>